.round-red {
    -fx-background-color: linear-gradient(#ff5638, #b73d28);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-opacity: 0.8;
}

.round-red:hover {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-font-weight: bold;
    -fx-opacity: 1;
}

.round-red:disabled {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-font-weight: bold;
    -fx-opacity: 0.2;
}

.border1{
    -fx-border-color: black;
}

.highlightAnswer{
    -fx-background-color: #bcffc4;
}
